<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyphereco.openturnkey">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_cyphereco_color_logo"
        android:label="@string/_app_name"
        android:logo="@mipmap/ic_cyphereco_color_logo_foreground"
        android:roundIcon="@mipmap/ic_cyphereco_color_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.ActivityExampleFailTx"></activity>
        <activity android:name=".ui.ActivityExampleSuccessTx"></activity>
        <activity android:name=".ui.TransDetailActivity" />
        <activity
            android:name=".ui.OpenturnkeyInfoActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="ext"
                    android:pathPrefix="/com.cyphereco.openturnkey"
                    android:scheme="vnd.android.nfc" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="ext"
                    android:pathPrefix="/com.cyphereco.openturnkey"
                    android:scheme="vnd.android.nfc" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="ext"
                    android:pathPrefix="/com.cyphereco.openturnkey"
                    android:scheme="vnd.android.nfc" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_QR_CODE_RECEIVED" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.QRcodeScanActivity"
            android:label="@string/title_activity_qrcode_scan" />
        <activity
            android:name=".ui.ActivityAddressEditor"
            android:label="Add Contact"
            android:parentActivityName=".ui.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
